In [1]:
import numpy as np
import pandas as pd

In [2]:
diccionario = {'A':[1,2,3],'B':[4,5,6],'clave':['c1','c2','c3']}
dataframe = pd.DataFrame(diccionario)

In [3]:
dataframe

   A  B clave
0  1  4    c1
1  2  5    c2
2  3  6    c3

In [4]:
diccionario2 = {'A':[11,12,13],'B':[14,15,16],'clave':['c1','c2','c3']}
dataframe2 = pd.DataFrame(diccionario2)
dataframe2

    A   B clave
0  11  14    c1
1  12  15    c2
2  13  16    c3

In [5]:
pd.merge(dataframe,dataframe2, on='clave')

   A_x  B_x clave  A_y  B_y
0    1    4    c1   11   14
1    2    5    c2   12   15
2    3    6    c3   13   16