In [1]:
import numpy as np
import pandas as pd

In [24]:
filas = ['venta1','venta2','venta3']
columnas = ['zonaA','zonaB','zonaC']
datos = [[123,421,256],[234,541,257],[120,451,258]]

In [25]:
dataFrame = pd.DataFrame(datos,filas,columnas)
dataFrame

        zonaA  zonaB  zonaC
venta1    123    421    256
venta2    234    541    257
venta3    120    451    258

In [26]:
dataFrame.loc[['venta1','venta2']]

        zonaA  zonaB  zonaC
venta1    123    421    256
venta2    234    541    257

In [27]:
dataFrame

        zonaA  zonaB  zonaC
venta1    123    421    256
venta2    234    541    257
venta3    120    451    258

In [28]:
dataFrame[['zonaA','zonaC']]

        zonaA  zonaC
venta1    123    256
venta2    234    257
venta3    120    258

In [29]:
dataFrame.loc['venta1']['zonaA']

123

In [30]:
dataFrame['VentasTotales'] = dataFrame['zonaA'] + dataFrame['zonaB'] + dataFrame['zonaC']

In [31]:
dataFrame

        zonaA  zonaB  zonaC  VentasTotales
venta1    123    421    256            800
venta2    234    541    257           1032
venta3    120    451    258            829

In [37]:
dataFrame.drop('VentasTotales', axis=1)

KeyError: "['VentasTotales'] not found in axis"

In [35]:
dataFrame

        zonaA  zonaB  zonaC
venta1    123    421    256
venta2    234    541    257
venta3    120    451    258

In [36]:
dataFrame.drop('VentasTotales', axis=1, inplace=True)

KeyError: "['VentasTotales'] not found in axis"