In [1]:
import pandas as pd

In [2]:
pwd

'C:\\Users\\Administrador\\Documents\\MachineLearninBasico'

In [3]:
ls

 El volumen de la unidad C no tiene etiqueta.
 El nÂ£mero de serie del volumen es: E8C6-2F5C

 Directorio de C:\Users\Administrador\Documents\MachineLearninBasico

27/07/2022  09:11    <DIR>          .
27/07/2022  09:11    <DIR>          ..
27/07/2022  09:10    <DIR>          .ipynb_checkpoints
26/07/2022  21:22            10.004 agrupacion_columna.ipynb
25/07/2022  21:34             3.690 array_dos_dimensiones.ipynb
25/07/2022  21:12             4.700 array_una_dimension.ipynb
25/07/2022  20:37             1.922 cambio_tamanio_array.ipynb
26/07/2022  21:49             9.283 combinar_dataframe.ipynb
26/07/2022  08:54            25.442 dataframe.ipynb
27/07/2022  09:09             5.508 Ejemplo_excel.xlsx
25/07/2022  21:57             2.102 ejercicio1.ipynb
27/07/2022  09:11               576 ficheros_csv_excel.ipynb
25/07/2022  20:16             7.051 funciones.ipynb
27/07/2022  08:04             6.524 join.ipynb
25/07/2022  20:49             2.944 maximos_minimos_array.ipynb
26/07/2022  22:20             6.573 merge_dataframe.ipynb
26/07/2022  13:34            11.484 modificacion_filas.ipynb
25/07/2022  20:21             2.599 numeros_aleatorios_numpy.ipynb
25/07/2022  20:23             1.428 numeros_enteros_aleatorios_numpy.ipynb
25/07/2022  19:45             2.343 numpy_listas.ipynb
25/07/2022  21:53             5.186 operaciones_arrays.ipynb
25/07/2022  21:44             3.190 seleccion_condicion.ipynb
26/07/2022  09:55            11.473 seleccion_datos_pandas.ipynb
26/07/2022  08:20             3.959 series_pandas.ipynb
27/07/2022  09:10                72 Untitled.ipynb
26/07/2022  20:50            11.238 valores_nulos.ipynb
              23 archivos        139.291 bytes
               3 dirs  527.482.781.696 bytes libres

In [4]:
dataframe = pd.read_excel('Ejemplo_excel.xlsx')

In [5]:
dataframe

   Unnamed: 0   a   b   c   d
0           0   0   1   2   3
1           1   4   5   6   7
2           2   8   9  10  11
3           3  12  13  14  15

In [6]:
dataframe['e'] = [20,21,22,23]

In [7]:
dataframe

   Unnamed: 0   a   b   c   d   e
0           0   0   1   2   3  20
1           1   4   5   6   7  21
2           2   8   9  10  11  22
3           3  12  13  14  15  23

In [8]:
dataframe.to_excel('salida_excel.xlsx', sheet_name='Hoja1')